<center>

<div class="contentblock">

<h2>Resultados da busca</h2>

<% unless @job_opportunities_search.empty? %>
    <% @job_opportunities_search.each do |jo| %>
    <p>
        <%= link_to jo.job_title, job_opportunity_path(jo) %> <br>
        <%= link_to jo.company.name, company_path(jo.company) %>
    </p> 
    <% end %>
    <%else%>
    'A busca não retornou resultados'
<% end %>


</div>

