<div class="contentblock">
  <h2><%= t('.title') %></h2>
  <% if @job_opportunities_search.present? %>
    <% @job_opportunities_search.each do |jo| %>
      <p>
        <%= link_to jo.job_title, job_opportunity_path(jo) %> <br>
        <%= link_to jo.company.name, company_path(jo.company) %>
      </p> 
    <% end %>
  <% else %>
    <%= t('.no_results') %>
  <% end %>
</div>
