<style>
  .collapse-icon {
    color: gray;
    cursor: pointer;
    display: inline-flex;
    float: right;
  }
</style>

<div class="contentblock">
  <% if title? %>
    <h2 style="display: inline-flex;"><%= title %></h2>
  <% end %>

  <% if @collapsible %>
    <h2 class="collapse-icon" onclick="toggleContent(this)">-</h2>
  <% end %>

  <div class="content">
    <%= body %>
  </div>
</div>

<script>
  function toggleContent(element) {
    let content = element.nextElementSibling;
    if (content.style.display == 'none') {
      content.style.display = 'block';
      element.textContent = '-';
    } else {
      content.style.display = 'none';
      element.textContent = '+'
    }
  }
</script>