<style>
.list-item {
  padding: 15px;
  margin-top: 2px;
  transition: 0.4s;
}

.list-item:hover {
  background-color: var(--nav_background_color);
  border-radius: 7px;
}

.list-item:hover .side-button {
  display: block;
}

.side-button {
  float: right;
  font-size: 1.3em;
  display: none;
}
</style>

<div class="list-item">
  <span class="side-button"><%= button %></span>
  <%= content %>
</div>
