<div class="nav">
  <div class="navleft">
    <%= link_to root_path do %>
      <span class="navtitle"><%= @title %></span>
    <% end %>

    <%= left %>
  </div>

  <div class="navright">
    <%= right %>
  </div>
</div>