<center>
<div class="contentblock">

    <h4>Rejeitar proposta</h4>

    <div class= "reject-form">
        <%= form_tag decline_job_application_path, method: :post do %>
            <div>
                <%= label_tag t('.rejection_motive') %>
                <%= text_field_tag :rejection_motive, params[:rejection_motive] %>
            </div>
            <%= submit_tag 'Confirmar' %>
        <% end %>
    </div>

</div>