<center>
<h1>Jobs</h1>
<h2>Sua carreira começa aqui</h2>

<h3><%= link_to 'Área do candidato', root_path %> | <%= link_to 'Área da empresa', root_path %></h3>

<h3>Busca vagas</h3>

<h4>Empresas Cadastradas:</h4>

# @companies.each |company| do
# <%#=# link_to company.name, root_path %>
# end


</center>