<center>
<h1>Jobs</h1>
<h2>Sua carreira começa aqui</h2>

<h3><%= link_to 'Área do candidato', root_path %> | <%= link_to 'Área da empresa', root_path %></h3>

<h3><%=link_to 'Ver empresas Cadastradas', companies_path%></h3>



<h3>Busca vagas</h3>




</center>