<style>
    /* large screen */
  @media screen and (min-device-width: 750px) and (min-width: 750px) {
    body {
      background-image: url('<%= asset_path HomeController.random_background_image %>');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
    }

    .container {
      margin: auto;
      width: 80%;
    }

    .login-container {
      float: right;
    }
  }

  /* small screen  */
  @media screen and (max-device-width: 750px) and (max-width: 750px) {
    .container {
      width: 95%;
      margin: auto;
    }
  }
</style>

<div class="login-container">
  <%= render(LoginComponent.new) %>
</div>