<h1>Promoção aprovada </h1>
<%= @job_proposal.candidate.firstname %>, sua candidatura à vaga
<%= @job_proposal.job_title %> na empresa <%= @job_proposal.company %> foi a aceita e você recebeu uma proposta:
<p> <% @job_proposal.message %> </p>