/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require ./color_theme
 *= require ./form_style
 *= require_self
 *= require font-awesome
 */

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text_normal);
  background-color: var(--background_color);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4 { color: var(--title); }

a {
  color: var(--link);
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 2px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.6s;
}

a:hover {
  text-decoration-color: var(--link);
}

.alert {
  align-self: center;
  background-color: var(--alert_background);
  border-radius: 7px;
  margin: 15px auto;
  padding: 15px 25px 15px 25px; /* top right bottom left */
  text-align: center;
  width: 30%;
}

.danger { color: var(--alert_danger); }

.success { color: var(--alert_success); }

.button {
  color: var(--button_link);
  background-color: var(--button_color);
  border-radius: 7px;
  display: inline-block;
  margin: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.tag {
  text-transform: lowercase;
  padding: 0.4em;
  font-size: 0.75em;
  background-color: var(--background_color);
  border-radius: 20px;
  line-height: 1.8em;
  font-weight: 500;
  color:white;
  white-space: nowrap;
}

.bg-gray { background-color: var(--background_color); }
.bg-red { background-color: var(--alert_danger); }
.bg-green { background-color: var(--alert_success); }

.bold {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--title);
}

/* ul */
.no-bullets {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* Remove margins */
  padding: 0; /* Remove padding */
}

.contentblock {
  background-color: var(--content_blocks_color);
  width: 80%;
  align-self: center;
  border-radius: 7px;
  padding: 10px 25px 20px 25px; /* top right bottom left */
  margin: 15px auto;
  text-align: left;
}

.empty_state{
  opacity: 0.5;
  padding: 35px 0 35px 0;
  text-align: center;
}

/* large screen */
@media screen and (min-device-width: 750px) and (min-width: 750px) {
  .container {
    margin: 0 auto;
    width: 80%;
  }

  .page {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  .page .page-sidebar {
    width: 28%;
  }
  
  .page .page-content {
    width: 70%;
  }

  .sidebar-avatar {
    margin: 0 auto;
  }
}

/* small screen  */
@media screen and (max-device-width: 750px) and (max-width: 750px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }

}

.sidebar-avatar {
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.gray-icon {
  color: var(--background_color);
  cursor: pointer;
}

.green-icon {
  color: var(--title);
  cursor: pointer;
  margin-left: 5px;
}

/* SEARCH FIELD */

.search_container {
  border: 1px solid var(--button_color);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  padding: 10px;
  position: relative;
}

.search_container input[type='text'] {
  all: unset;
  width: 100%;
}

.search_container input[type='text']:-webkit-autofill {
  -webkit-background-clip: text;
}

.search_container button {
  all: unset;
  padding: 0 10px 0 10px;
}

/* GRID COMPONENT */

.grid {
  display: grid;
  margin: 0 auto;
  max-width: 100%;
}

/* mobile screen */
.responsive-grid { 
  display: grid;
  grid-template-columns: 1fr;
}

/* mediun screen */
@media only screen and (min-width: 600px) and (min-device-width: 600px) {
  .responsive-grid { grid-template-columns: 1fr 1fr; }
}

/* large screen */
@media only screen and (min-width: 900px) and (min-device-width: 900px) {
  .responsive-grid { grid-template-columns: 1fr 1fr 1fr; }
}

/* LOGIN COMPONENT */

.login-component * {
  box-sizing: border-box;
}

.login-component {
  background-color: var(--nav_background_color);
  border-radius: 7px;
  box-sizing: border-box;
  margin: 3em;
  overflow: hidden;
}

/* large screen */
@media screen and (min-device-width: 750px) and (min-width: 750px) {
  .login-component {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
  }
}

.login-component a,
.login-component a:hover {
  font-weight: 700;
  text-decoration: none;
}

.login-component .tabs {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
}

.login-component .tab {
  border-bottom: 3px solid;
  color: var(--inactive_link);
  cursor: pointer;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 0;
  padding: 20px 0 5px 0;
  text-align: center;
  width: 50%;
}

.login-component .tabs .active {
  border-color: var(--link);
  color: var(--link);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.login-component .tabcontent {
  margin: auto;
  width: 85%;
}

.login-component .tabcontent div {
  font-size: 20px;
  margin: 1em auto;
  padding: 18px;
  text-align: center;
}

.login-component .btn {
  font-size: 24px;
  padding: 5px;
}

.login-component input[type=email],
.login-component input[type=password] {
  border-radius: 7px;
  font-size: 18px;
  margin: 15px 0;
  padding: 15px 20px;
  width: 100%;
}

.login-component input[type=submit] {
  border: none;
  color: var(--link);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.login-component input[type="checkbox"] { vertical-align: middle; }

.login-component label {
  display: block;
  font-size: 20px;
  margin-bottom: -10px;
  text-align: left;
  text-transform: lowercase;
}

.login-component .hint-link {
  float: right;
  font-size: 12px;
  margin-top: -10px;
}

.login-component .checkbox-field label {
  display: inline;
  font-size: 12px;
  text-transform: none;
}

/* NAVBAR COMPONENT */

.nav {
  align-items: center;
  background-color: var(--nav_background_color);
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.navtitle {
  color: var(--title);
  font-size: 44px;
  padding: 10px;
  text-transform: uppercase;
}

.navleft {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.navright {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.nav a {
  color: var(--nav_link);
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
}

/* BOX COMPONENT */

.box .collapse-icon {
  color: var(--inactive_link);
  cursor: pointer;
  display: inline-flex;
  float: right;
  font-size: 1.3em;
}

.box {
  border-radius: 7px;
  box-sizing: border-box;
  margin: 15px auto;
  padding: 25px; /* top right bottom left */
  text-align: left;
  width: 95%;
}

/* when there's a content box inside another content box */
.box .box {
  margin: 15px 0 0 0;
  padding: 20px;
  width: 100%;
}

.box .title {
  color: var(--title);
  cursor: pointer;
  font-size: 1.5em;
  font-weight:  bold;
  line-height: 1.6em;
  margin-bottom: 0;
  vertical-align: middle;
}

.box .content {
  margin-top: 5px;
}

/* COMPANY PREVIEW */

.company-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--nav_background_color);
  border-radius: 7px;
}

/* CANDIDATE PREVIEW */

.flexrow {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 1rem;
}

/* LIST ITEM COMPONENT */

/* large screen */
@media screen and (min-device-width: 750px) and (min-width: 750px) {
  .side-button {
    visibility: hidden;
  }

  .list-item:hover .side-button {
    visibility: visible;
  }
}

.list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  padding: 15px;
  transition: 0.4s;  
  border-radius: 7px;
}

.list-item:hover {
  background-color: var(--nav_background_color);
}

.side-button {
  font-size: 1.3em;
}
