/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  background-color: gainsboro;
  margin: 0;
}

h1 { color: seagreen }
h2 { color: seagreen }
h3 { color: seagreen }
h4 { color: seagreen }

.header {
  padding: 10px 20px 10px 20px;
}

a {
  color: teal;
  padding: 2px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.alert-danger {
  color: red;
  background-color: white;
  width: 30%;
  align-self: center;
  border-radius: 7px 20px 15px;
  padding: 15px 25px 15px 25px; /*top right bottom left*/
  margin: 15px;
  text-align: center;
}

.alert-success {
  color: green;
  background-color: white;
  width: 30%;
  align-self: center;
  border-radius: 7px 20px 15px;
  padding: 15px 25px 15px 25px; /*top right bottom left*/
  margin: 15px;
  text-align: center;
}

.nav {
  background-color: #4CAF50;
  width: 100%;
  border: none;
  margin: 0;
  list-style-type: none;
  padding: 0px;
  vertical-align: middle;
}

.nav a {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
}

.nav a:hover {
  background-color: #3e8e41;
}

.navright {
  float:right;
  color: white;
  border: none;
  background-color: #4CAF50;
  font-size: 16px;
  vertical-align: middle;
  display: inline-block;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 5px 10px 7px;
  margin: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  cursor: pointer;
}

.contentblock {
  background-color: white;
  width: 80%;
  align-self: center;
  border-radius: 10px 45px 25px;
  padding: 10px 25px 20px 25px; /*top right bottom left*/
  margin: 15px;
  text-align: left;
}

.employeepanel {
  background-color: whitesmoke;
  width: 80%;
  align-self: center;
  border-radius: 15px 50px 30px;
  padding: 10px 25px 20px 25px; /*top right bottom left*/
  margin: 15px;
  text-align: left;
}
 
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-login {
  position: relative;
  display: inline-block;
}

.dropdown-signin {
  position: relative;
  display: inline-block;
}

/*  Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover { background-color: #ddd; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content { display: block; }
.dropdown-login:hover .dropdown-content { display: block; }
.dropdown-signin:hover .dropdown-content { display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn { background-color: #3e8e41; } 