/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

:root {
  --background_color: gainsboro;
  --content_blocks_color: white;
  --title: #10462C;
  --text_normal: black;
  --link: #276a66;
  --inactive_link: #818181;
  --alert_success: green;
  --alert_danger: red;
  --alert_background: white;
  --nav_link: #818181;
  --nav_background_color: #EEEEEE;
  --nav_background_color_hover: #3e8e41;
  --button_link: white;
  --button_color: #276a66;
}
