/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./color_theme
 */

a {
  font-weight: 700;
}

a:hover {
  text-decoration: none;
} 

.box {
  width: 400px;
  height: 500px;
  background-color: var(--nav_background_color);
  overflow: hidden;
  align: center;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.tab {
  width: 50%;
  border-bottom: 3px solid;
  cursor: pointer;
  font-size: 27px;
  font-weight: 500;
  padding: 15px 0 10px 0;
  text-align: center;
}

.tabs .tab {
  color: var(--inactive_link);
  letter-spacing: 0;
}

.tabs .active {
  border-color: var(--link);
  color: var(--link);
  font-weight: 500;
  letter-spacing: 0.05em;
}

.tabcontent {
  width: 80%;
  clear: both;
  margin: auto;
}

.tabcontent div {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.btn {
  font-size: 24px;
  padding: 5px;
}

input {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin: 15px 0;
  font-size: 18px;
}

label {
  display: block;
  text-align: left;
  margin-bottom: -10px;
}

.hint-link {
  float: right;
  font-size: 12px;
  margin-top: -10px;
}