/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./color_theme
 */

.nav {
  align-items: center;
  background-color: var(--nav_background_color);
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.navtitle {
  color: var(--title);
  font-size: 44px;
  padding: 10px;
  text-transform: uppercase;
}

.navleft {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.navright {
  align-items: center;
  display: flex;
  font-size: 16px;
}

.nav a {
  color: var(--nav_link);
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: none;
}
